.about {
  display: grid;
  grid-template-rows: 1fr 11rem;
  grid-template-columns: 1fr 18rem;
  grid-gap: 4rem;
  justify-content: center;
  background-color: $color-secondary;
  text-align: center;
  overflow: hidden;

  padding-bottom: 8rem;
  clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);

  @include respond(tab-port) {
    grid-template-rows: 1fr 10rem;
    grid-template-columns: minmax(3rem, 8rem) 1fr 1fr minmax(3rem, 8rem);
    text-align: left;
    padding-bottom: 15rem;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr 30% 30% 1fr;
  }

  &--img {
    max-width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    align-self: center;
    overflow: hidden;
  }

  &--img > source,
  &--img > img {
    display: block;
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &--heading {
    text-align: right;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    z-index: 2;

    @include respond(tab-port) {
      text-align: initial;
      grid-column: 2 / 3;
      align-self: center;
      justify-self: left;
    }

    @include respond(tab-land) {
      align-self: start;
    }

    & > br {
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &--me {
    @include wrapper;
    grid-column: 1 / -1;

    @include respond(tab-port) {
      padding: 0;
      grid-column: 2 / 3;
    }
  }

  &--cta {
    grid-column: 1 / -1;
    font-weight: 300;

    @include respond(tab-port) {
      text-align: center;
      grid-column: 2 / 4;
    }

    & > br {
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &--logo {
    grid-column: 1 / -1;
    width: 18rem;
    justify-self: center;

    @include respond(tab-port) {
      grid-row: 3 / -1;
      grid-column: 3 / 4;
      align-self: center;
      justify-self: end;
    }
  }
}
