.contact {
  @include wrapper;
  @include retrive-space;
  background-color: $color-primary;
  text-align: center;
  color: #fff;

  &--heading {
    @include paddingY;
    color: $color-secondary;
    font-weight: 300;
    font-size: $default-font-size;
  }

  &__info {
    font-size: $default-font-size;
    margin: 0 auto;
    max-width: 60%;

    &--seperator {
      display: none;
      @include respond(tab-port) {
        display: inline-block;
        padding: 0 0.8rem;
      }
    }
  }

  &__info--link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: inherit;
  }

  &__form {
    padding-top: 3.2rem;
    max-width: 700px;
    margin: 0 auto;

    &--input,
    &--textarea {
      border: none;
      font-family: inherit;
      font-size: 1.4rem;
      background-color: $color-secondary;
      color: #fff;
      width: 100%;
      padding-top: 4px;
      padding-left: 4px;
      position: relative;
    }

    &--label {
      display: flex;
      color: #fff;
      font-weight: 700;
      font-size: 1.4rem;
      margin: 0.5rem 0 0.8rem;
    }

    &--input {
      margin-bottom: 1rem;
      padding: 1rem 0;
    }

    &--textarea {
      @include respond(tab-port) {
        height: 16em;
      }
    }

    &--submit {
      text-transform: uppercase;
      background-color: $color-primary;
      border: 1px solid #fff;
      margin: 4.5rem auto;
      color: #fff;
      display: block;
      text-align: center;
      font-weight: 700;
      font-family: inherit;
      padding: 0.6rem 3.7rem;
      cursor: pointer;
    }
  }
}
