.priorities {
  @include wrapper;
  background-color: $color-primary;
  margin-top: -10rem;
  padding-top: 10rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    @include paddingY;
    max-width: 70%;
    text-align: center;

    &--heading {
      padding: 2rem 0;
      font-weight: 400 !important;
    }

    &--logo {
      width: 100%;
      height: 17rem;
    }
  }

  &--desc {
    font-weight: 700;
    padding: 1.2rem;
    font-size: 1.4rem;
    border: 2px solid rgba($color-grey-light, 0.4);
    border-radius: 15px;
    transition: border 0.4s;
  }

  &--desc:hover {
    border: 2px solid greenyellow;
  }
}
