.navigation {
  color: #fff;
  position: fixed;
  top: 3rem;
  right: 2.6rem;

  &__background {
    width: 1vw;
    height: 1vh;
    background-color: $color-secondary;
    transition: transform 0.4s;
    transform: scale(0);
    position: fixed;
    right: 3.5rem;
    border-radius: 50%;
  }

  &--toggle {
    display: none;
  }

  &--btn {
    position: fixed;
    top: 3rem;
    right: 2.6rem;
    background-color: #fff;
    width: 23px;
    height: 2px;
    z-index: 9;

    &::before,
    &::after {
      display: block;
      content: "";
      background-color: #fff;
      width: 30px;
      height: 2px;
      position: relative;
      left: -7px;
    }

    &::before {
      top: 10px;
    }

    &::after {
      top: -25px;
    }
  }

  &__list {
    list-style: none;
    text-decoration: none;
  }

  // Functionality

  &--toggle:checked ~ &__background {
    transform: scale(1000);
  }
}
