// Uses 'Akzidenz-Grotesk-medium' as a font for the numbers
.projects__nav {
  &--list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
    margin: 0 auto;

    @include respond(tab-land) {
      flex-direction: column;
      margin: 0;
      align-content: center;
      width: 100%;
    }
  }

  &__li {
    color: $color-secondary;
    font-size: 2.2rem;
    cursor: pointer;

    &--line {
      display: block;
      background-color: #fff;
      height: 2.5rem;
      width: 2px;
      margin-left: 1rem;
      margin-bottom: 0.4rem;
      transition: all 0.4s;

      @include respond(tab-land) {
        height: 2px;
        width: 2.5rem;
        margin: 0;
      }
    }

    &--link {
      font-family: "akzidenz";
      display: inline-block;
      text-decoration: none;
      color: currentColor;
      height: 8rem;
      width: 3.6rem;

      @include respond(tab-land) {
        display: flex;
        align-items: center;
        width: auto;
      }
    }

    &__number {
      @include respond(tab-land) {
        padding-left: 1rem;
      }
    }

    &__number--last {
      font-size: 1.4rem;
    }
  }

  &__li--selected,
  &__li:hover &__li--line {
    height: 4.6rem;
    background-color: $color-secondary;

    @include respond(tab-land) {
      height: 2px;
      width: 4.6rem;
    }
  }
}
