//Colors
$color-primary: #09192f;
$color-secondary: #f47d20;
$color-grey-dark: #464e59;
$color-grey-light: #d7dce2;

$font-primary: "Quicksand", sans-serif;

//Media Queries

@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media (min-width: 47.5em) {
      @content;
    } //760px / 16 = 47.5
  }
  @if $breakpoint == tab-land {
    @media (min-width: 67.5em) {
      @content;
    } //1080px / 16 = 67.5
  }
  @if $breakpoint == desktop {
    @media (min-width: 87.5em) {
      @content;
    } //1400px / 16 = 87.5
  }
}

//Scroll Bar

/* width */
::-webkit-scrollbar {
  width: 1rem;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-grey-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color-secondary, 0.7);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary;
}

// Resets
* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%;
  font-family: $font-primary;
  scroll-behavior: smooth;
  color: #fff;

  @include respond(tab-port) {
    font-size: 75%; // 1rem = 12px, 12px/16px*100 = 75%
  }
}

body {
  box-sizing: border-box;
}

// Prevent animations to run before load
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

//Mixins
// Spaceing
@mixin wrapper {
  padding-left: 3rem;
  padding-right: 3rem;

  @include respond(tab-port) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

//!!Change Padding to retrive-space mixin aswell if modified!!
@mixin paddingY {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

@mixin retrive-space {
  margin-top: -14.2rem; //cover the whitespace caused by the clip path from the projects section
  padding-top: calc(
    14.2rem + 3.2rem
  ); //Additional padding top to make up for the negative margin
  padding-bottom: 3.2rem;
}

@mixin max-width {
  max-width: 1200px;
  margin: 0 auto;
}

//Arrow
.down--arrow {
  transform: rotate(90deg);
  width: 4.5rem;
  height: 4.5rem;
}
