@font-face {
  font-family: akzidenz;
  src: url(../../assets/fonts/Akzidenz-Grotesk-medium.ttf); //Used only for projects-nav Numbers
}

$default-font-size: 1.4rem;

.paragraph {
  color: #fff;
  font-size: $default-font-size;
  font-weight: 700;
  line-height: 1.5;
}

.heading-orange {
  color: $color-secondary;
}

.heading-primary {
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: 300;
}

.heading-secondary {
  text-transform: capitalize;
  font-size: 2.6rem;
  font-weight: 300;
}
